[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "ranger/.config/ranger/colorschemes"]
	path = ranger/.config/ranger/colorschemes
	url = https://github.com/ranger/colorschemes
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
