#-----------------------------------#
# 基本設定
#-----------------------------------#

# change prefix key bind
set -g prefix C-g
bind C-g send-prefix
unbind C-b

# copymode to vi mode
set-window-option -g mode-keys vi

# prefix r で設定ファイルのリロード
bind r source-file ~/.config/tmux/tmux.conf \; display "Reloaded!"

# 256色表示
set-option -g default-terminal screen-256color
set -g terminal-overrides 'xterm:colors=256'


#-----------------------------------#
# プラグイン
#-----------------------------------#

# tmux package manager
set -g @plugin 'tmux-plugins/tpm'

# 基本的なオプションを設定してくれる
set -g @plugin 'tmux-plugins/tmux-sensible'

# コピペ with クリップボード
set -g @plugin 'tmux-plugins/tmux-yank'

# 正規表現で検索
set -g @plugin 'tmux-plugins/tmux-copycat'

# vim風キーバインドによるペイン操作
set -g @plugin 'tmux-plugins/tmux-pain-control'

# 環境保存・復元
set -g @plugin 'tmux-plugins/tmux-resurrect'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
#-----この行はプラグインの最後に記述 -----#
run -b '~/.config/tmux/plugins/tpm/tpm'
